##### 데이터 필터링

In [5]:
import seaborn as sns
tips = sns.load_dataset('tips')
print(tips.shape)
print(tips.head())

(244, 7)
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
tips['size'].value_counts()

2    156
3     38
4     37
5      5
1      4
6      4
Name: size, dtype: int64

In [6]:
# 데이터 걸러내기

tips_filiterd = tips.groupby('size').filter(
    lambda x: x['size'].count() >= 30)
print(tips_filiterd.shape)

(231, 7)

In [8]:
tips_filiterd['size'].value_counts()

2    156
3     38
4     37
Name: size, dtype: int64

In [14]:
#import numpy as np
#np.random.seed(1234)
#tips_10 = sns.load_dataset('tips').sample(10)
#tips_10

tips_10 = tips.sample(10, random_state=1234)
tips_10

     total_bill   tip     sex smoker   day    time  size
187       30.46  2.00    Male    Yes   Sun  Dinner     5
179       34.63  3.55    Male    Yes   Sun  Dinner     2
31        18.35  2.50    Male     No   Sat  Dinner     4
52        34.81  5.20  Female     No   Sun  Dinner     4
71        17.07  3.00  Female     No   Sat  Dinner     3
6          8.77  2.00    Male     No   Sun  Dinner     2
95        40.17  4.73    Male    Yes   Fri  Dinner     4
131       20.27  2.83  Female     No  Thur   Lunch     2
157       25.00  3.75  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4

In [11]:
grouped = tips_10.groupby('smoker')
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000275A4B13CD0>

In [12]:
print(grouped.groups)

{'Yes': [187, 179, 95], 'No': [31, 52, 71, 6, 131, 157, 5]}

In [13]:
avgs = grouped.mean()
print(avgs)

        total_bill       tip      size
smoker
Yes      35.086667  3.426667  3.666667
No       21.365714  3.427143  3.285714

In [15]:
grouped.total_bill.mean()

smoker
Yes    35.086667
No     21.365714
Name: total_bill, dtype: float64

In [17]:
yes = grouped.get_group('Yes')
yes

     total_bill   tip   sex smoker  day    time  size
187       30.46  2.00  Male    Yes  Sun  Dinner     5
179       34.63  3.55  Male    Yes  Sun  Dinner     2
95        40.17  4.73  Male    Yes  Fri  Dinner     4

In [18]:
for smoke_group in grouped:
    print(smoke_group)

('Yes',      total_bill   tip   sex smoker  day    time  size
187       30.46  2.00  Male    Yes  Sun  Dinner     5
179       34.63  3.55  Male    Yes  Sun  Dinner     2
95        40.17  4.73  Male    Yes  Fri  Dinner     4)
('No',      total_bill   tip     sex smoker   day    time  size
31        18.35  2.50    Male     No   Sat  Dinner     4
52        34.81  5.20  Female     No   Sun  Dinner     4
71        17.07  3.00  Female     No   Sat  Dinner     3
6          8.77  2.00    Male     No   Sun  Dinner     2
131       20.27  2.83  Female     No  Thur   Lunch     2
157       25.00  3.75  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4)

In [21]:
for smoke_group in grouped:
    print('그룹명:', smoke_group[0])
    print(smoke_group[1])

그룹명: Yes
     total_bill   tip   sex smoker  day    time  size
187       30.46  2.00  Male    Yes  Sun  Dinner     5
179       34.63  3.55  Male    Yes  Sun  Dinner     2
95        40.17  4.73  Male    Yes  Fri  Dinner     4
그룹명: No
     total_bill   tip     sex smoker   day    time  size
31        18.35  2.50    Male     No   Sat  Dinner     4
52        34.81  5.20  Female     No   Sun  Dinner     4
71        17.07  3.00  Female     No   Sat  Dinner     3
6          8.77  2.00    Male     No   Sun  Dinner     2
131       20.27  2.83  Female     No  Thur   Lunch     2
157       25.00  3.75  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4

In [28]:
# 여러 열 사용 계산
smoker_day = tips_10.groupby(['smoker', 'day'])
group_avg = smoker_day.mean()
group_avg

             total_bill    tip  size
smoker day
Yes    Thur         NaN    NaN   NaN
       Fri      40.1700  4.730   4.0
       Sat          NaN    NaN   NaN
       Sun      32.5450  2.775   3.5
No     Thur     20.2700  2.830   2.0
       Fri          NaN    NaN   NaN
       Sat      17.7100  2.750   3.5
       Sun      23.4675  3.915   3.5

In [30]:
print(type(group_avg))
print(group_avg.columns)

<class 'pandas.core.frame.DataFrame'>
Index(['total_bill', 'tip', 'size'], dtype='object')

In [31]:
print(group_avg.index)

MultiIndex([('Yes', 'Thur'),
            ('Yes',  'Fri'),
            ('Yes',  'Sat'),
            ('Yes',  'Sun'),
            ( 'No', 'Thur'),
            ( 'No',  'Fri'),
            ( 'No',  'Sat'),
            ( 'No',  'Sun')],
           names=['smoker', 'day'])

In [32]:
group_avg.loc['Yes']

      total_bill    tip  size
day
Thur         NaN    NaN   NaN
Fri       40.170  4.730   4.0
Sat          NaN    NaN   NaN
Sun       32.545  2.775   3.5

In [34]:
group_avg.loc['Yes','Fri']

total_bill    40.17
tip            4.73
size           4.00
Name: (Yes, Fri), dtype: float64

In [40]:
group_avg.loc[('Yes', 'Fri'), :]

total_bill    40.17
tip            4.73
size           4.00
Name: (Yes, Fri), dtype: float64

In [42]:
# 인덱스 초기화 : reset_index 메소드
group_method = tips_10.groupby(['smoker', 'day']).mean().reset_index()
group_method

  smoker   day  total_bill    tip  size
0    Yes  Thur         NaN    NaN   NaN
1    Yes   Fri     40.1700  4.730   4.0
2    Yes   Sat         NaN    NaN   NaN
3    Yes   Sun     32.5450  2.775   3.5
4     No  Thur     20.2700  2.830   2.0
5     No   Fri         NaN    NaN   NaN
6     No   Sat     17.7100  2.750   3.5
7     No   Sun     23.4675  3.915   3.5

In [44]:
# 인덱스 초기화 : as_index 인자
group_param = tips_10.groupby(['smoker', 'day'], as_index=False).mean()
group_param

  smoker   day  total_bill    tip  size
0    Yes  Thur         NaN    NaN   NaN
1    Yes   Fri     40.1700  4.730   4.0
2    Yes   Sat         NaN    NaN   NaN
3    Yes   Sun     32.5450  2.775   3.5
4     No  Thur     20.2700  2.830   2.0
5     No   Fri         NaN    NaN   NaN
6     No   Sat     17.7100  2.750   3.5
7     No   Sun     23.4675  3.915   3.5